<div class="flex flex-col items-center justify-center min-h-screen bg-gray-100">
    <img src="assets/catsu.png" alt="CATSU Logo" class="w-32 mb-4">
    <h1 class="text-4xl font-bold mb-8">CATSU PORTAL</h1>
    <div class="flex space-x-8">
      <div class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-6 px-12 rounded-lg text-center cursor-pointer" (click)="navigateTo('admin/dashboard/file-management')">
        <span class="text-2xl">Admin E-Management</span>
      </div>
      <div class="bg-green-500 hover:bg-green-700 text-white font-bold py-6 px-12 rounded-lg text-center cursor-pointer" (click)="navigateTo('landingpage')">
        <span class="text-2xl">Student E-Management</span>
      </div>
     
    </div>
  </div>
  